:root {
    --header-background-color: #000957;

    --logo-color: #FFEB00;

    --nav-link-color: #577BC1;

    --nav-link-hover-color: #344CB7;

    --mobile-menu-background-color: #FFFFFF;
}

header {
    background-color: var(--header-background-color);
}

.navbar {
    align-items: center;

    display: flex;

    justify-content: space-between;

    min-height: 70px;

    padding: 0 24px;
}

.logo:hover {
    text-decoration: none;
}

.logo h1 {
    color: var(--logo-color);

    text-transform: uppercase;
}

.nav-list {
    align-items: center;

    display: flex;

    gap: 60px;

    justify-content: center;

    list-style: none;
}

.nav-link {
    color: var(--nav-link-color);

    text-transform: capitalize;

    transition: 0.7s ease;
}

.nav-link:hover {
    color: var(--nav-link-hover-color);
}

.mobile-menu {
    cursor: pointer;

    display: none;
}

.mobile-menu div {
    background-color: var(--mobile-menu-background-color);

    height: 3px;

    margin: 5px auto;

    width: 25px;

    -webkit-transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 750px) {
    .navbar {
        padding: 0;
    }

    .logo {
        padding-left: 24px;
    }

    .mobile-menu {
        padding-right: 24px;
    }

    .nav-list {
        background-color: var(--header-background-color);

        flex-direction: column;

        gap: 0;

        height: calc(100vh - 70px);

        left: -100%;

        position: fixed;

        text-align: center;

        top: 70px;

        transition: 0.3s;

        width: 100%;
    }

    .nav-list.active {
        left: 0;
    }

    .nav-item {
        margin: 24px 0;
    }

    .nav-link {
        font-size: 26px;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu.active .line-1 {
        transform: translateY(8px) rotate(45deg);
    }

    .mobile-menu.active .line-2 {
        opacity: 0;
    }

    .mobile-menu.active .line-3 {
        transform: translateY(-8px) rotate(-45deg);
    }
}