:root {
    --header-background-color: #2E5077;

    --logo-color: #4DA1A9;

    --nav-link-color: #79D7BE;
}

body {
    height: 300vh;
}

header {
    background-color: var(--header-background-color);

    left: 0;

    position: fixed;

    top: 0;

    width: 100%;
}

.navbar {
    align-items: center;

    display: flex;

    height: 70px;

    justify-content: space-between;

    padding: 12px 35px;

    width: 100%;
}

.logo:hover {
    text-decoration: none;
}

.logo h1 {
    color: var(--logo-color);

    text-transform: uppercase;
}

.nav-list {
    align-items: center;

    display: flex;

    gap: 20px;

    list-style: none;
}

.nav-link {
    color: var(--nav-link-color);

    text-transform: capitalize;

    transition: all 0.5s;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--logo-color);

    text-decoration: none;
}

.menu-mobile {
    background-color: transparent;

    border: 0;

    cursor: pointer;

    display: none;
}

.icon {
    width: 30px;
}

@media screen and (max-width: 750px) {
    .nav-list {
        align-items: center;

        background-color: var(--header-background-color);

        flex-direction: column;

        gap: 65px;

        height: 0px;

        justify-content: center;

        left: 0;

        overflow-y: hidden;

        position: fixed;

        right: 0;

        top: 70px;

        transition: all 0.5s;

        width: 100%;
    }

    .nav-link {
        font-size: 28px;
    }

    .menu-mobile {
        display: block;
    }

    .nav-list.open {
        height: calc(100vh - 70px);
    }
}